body {
  font-family: helvetica, sans-serif;
  width: 550px;
}

label {
  font-weight: bold;
  font-size: 2rem;
}

div {
  padding-bottom: 20px;
}

input[type="text"] {
  padding: 5px;
  width: 150px;
}
input[type="radio"] {
  width: 2rem;
  /* font-size: 2rem; */
}

p {
  background: #ffc125;
  color: #5e2612;
  padding: 10px;
  visibility: hidden;
  font-size: 1.5rem;
}

.randomize {
  padding: 2rem;
  font-size: 1.5rem;
}
